{{!--
Attachment Widget, as Form Group
================================

`charcoal/admin/widget/form-group/attachment`

--}}

<fieldset>
    {{# showHeader }}
    <header class="o-header -border">
        {{# showTitle }}
        <h2>{{ title }}</h2>
        {{/ showTitle }}

        {{> charcoal/admin/template/inc.description }}
    </header>
    {{/ showHeader }}

    {{> charcoal/admin/template/inc.notes }}

    {{> charcoal/admin/widget/attachment }}

</fieldset>
