<div class="btn-toolbar" role="toolbar">
    {{^ readOnly }}
    <div class="btn-group js-attachments-manager" role="group">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="btn-label">{{# _t }}Add{{/ _t }}</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu js-attachments-manager">
            {{# attachmentTypes }}
            <li>
                <a href="{{baseUrl}}admin/object/edit?obj_type={{val}}{{# id }}&obj_id={{ . }}{{/ id }}" data-type="{{val}}"{{# id }} data-id="{{ . }}"{{/ id }} data-title="{{label}}" class="js-add-attachment" target="_blank">
                    <span class="glyphicon {{glyphicon}}"></span>
                    <span class="glyphicon-class">{{label}}</span>
                </a>
            </li>
            {{/ attachmentTypes }}
        </ul>
    </div>
    {{/ readOnly }}
    {{# showAttachmentPreview }}
    <div class="btn-group" role="group" aria-label="{{# _t }}Toggle Content Previews{{/ _t }}">
        <button type="button" class="btn btn-default js-attachments-expand" aria-label="{{# _t }}Expand Previews{{/ _t }}">
            <span class="glyphicon glyphicon-collapse-down"></span> {{# _t }}Expand{{/ _t }}
        </button>
        <button type="button" class="btn btn-default js-attachments-collapse" aria-label="{{# _t }}Close Previews{{/ _t }}">
            <span class="glyphicon glyphicon-collapse-up"></span> {{# _t }}Close{{/ _t }}
        </button>
    </div>
    {{/ showAttachmentPreview }}
</div>
