{{!
	Expects parameter from the attachmentWidget
	Available properties / objects:

	`#obj`
	Current Object (objectContainerTrait) thanks to the dashboard

	`#attachmentTypes`
	All available attachment types with their respective collection. Attachment
	have a `label`, `ident`, `active` and `collection` property.

	This template uses the attachment-preview partial to display
	every attachment in the given ui.
}}
<div class="row">
	<section class="o-section">
		<ul class="nav nav-tabs">
		{{#attachmentTypes}}
			<li role="presentation"{{#active}} class="active"{{/active}}><a href="#{{ident}}" aria-controls="{{ident}}" role="tab" data-toggle="tab">{{label}}</a></li>
		{{/attachmentTypes}}
		</ul>

		<div class="tab-content js-attachments-manager">
		{{#attachmentTypes}}
			<div role="tabpanel" class="tab-pane{{#active}} active{{/active}}" id="{{ident}}">
				<div class="row js-attachment-sortable" style="min-height:100px;">
				{{#table}}
					{{>charcoal/admin/widget/table-grid}}
				{{/table}}
				</div>
				<div class="col-xs-6 col-md-2">
					<a href="{{baseUrl}}admin/object/edit?obj_type={{val}}" data-type="{{val}}" data-title="{{label}}" class="js-add-attachment" target="_blank">
						<span class="glyphicon glyphicon-plus"></span>
						<span class="glyphicon-class">{{label}}</span>
					</a>
				</div>
			</div>
		{{/attachmentTypes}}
		</div>
	</section>
</div>
