{{!--
    Attachable Preview \ Gallery
    ============================
--}}
{{# hasAttachments }}
    <ul class="gallery-list row">
        {{# attachments }}
            <li class="col-xs-3 col-md-3 js-attachment-actions">
                <a class="thumbnail"
                   href="object/edit?obj_type={{ obj_type }}&obj_id={{ attachment_id }}"
                   data-type="{{ obj_type }}"
                   data-group="{{ attachmentGroup }}"
                   data-attachment="{{ obj_type }}"
                   data-id="{{ attachment_id }}"
                   data-title="{{# _t }}Edit{{/ _t }}"
                   data-action="edit">
                    {{# src }}
                        <img src="{{ . }}"/>
                    {{/ src }}
                </a>
            </li>
        {{/ attachments }}
    </ul>
{{/ hasAttachments }}
{{^ hasAttachments }}
    {{> charcoal/admin/widget/attachment/empty }}
{{/ hasAttachments }}
